/* Import of font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Special+Elite&display=swap');

/* Site background */
body {
    background-image: linear-gradient(to bottom right, #82a1d1, black);
    font-family: 'Electrolize';
}

/* make all links stay their font color even when visitet, and remove underscore */
a:link,
a:visited {
    text-decoration: none;
    color: white;
}

/* Setting background color and box shadow for main content */
.main-content {
    background-image: linear-gradient(to bottom right, #4931af, black);
    margin: 0px 10% 0px 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100%;
    box-shadow:
        0px 0px 35px 0px #131615;
}

/* MAIN CONTENT STYLING */
/* Make all header and footer text capitalized */
#menu,
#footer {
    text-transform: uppercase;
}

/* Make nav-bar items hover */
nav li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Navigation bar styling */
nav {
    width: 100%;
    height: 65px;
    background-color: black;
    background-image: repeating-linear-gradient(233deg, #1c2751, #1c2751 1px, transparent -19px, transparent 2px);
    background-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    top: 0px;
    overflow: hidden;
    z-index: 999;
}

#menu {
    overflow: hidden;
    text-align: center;
    line-height: 65px;

}

#menu a {
    color: white;
}

/* home styling */
#home {
    position: relative;
    margin-top: 79px;
}

#welcome-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myself {
    width: 25%;
    border-radius: 50%;
    ;
    box-shadow:
        0px 0px 0px 35px #13161535;
}

#intro-text {
    text-align: center;
}

#intro-text>p {
    color: white;
    word-spacing: 0.7rem;
}

/* About me styling */
#about-header {
    color: white;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
}

#about-me>p {
    color: white;
    text-align: center;
    background-color: #00000075;
    border-radius: 25px;
    padding: 30px;
    box-shadow:
        35px 0px 35px 0px #131615;
    border: 1px solid #563c5c;
}

/* Education page styling */
#education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#edu-header {
    color: white;
    margin-top: 35px;
}

.education-list {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    position: relative;

}

.edu {
    flex-basis: 33%;
    padding: 15px;
    box-shadow:
        35px 0px 35px 0px #131615;
    border: 1px solid #563c5c;
}

/* Education experience text background */
#edu-top-left {
    background-color: #00000075;
    border-radius: 25px;

}

#edu-top-right {
    background-color: #00000075;
    border-radius: 25px;
}

#edu-mid-left {
    background-color: #00000075;
    border-radius: 25px;
}

#edu-mid-right {
    background-color: #00000075;
    border-radius: 25px;
}

#edu-bottom {
    background-color: #00000075;
    border-radius: 25px;
}

/* Experience page styling */
#experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#work-header {
    color: white;
    margin-top: 35px;
}

.experience-list {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.exp {
    flex-basis: 33%;
    padding: 15px;
    box-shadow:
        35px 0px 35px 0px #131615;
    border: 1px solid #563c5c;
}

/* Work experience text background */
#exp-top-left {
    background-color: #00000075;
    border-radius: 25px;

}

#exp-top-right {
    background-color: #00000075;
    border-radius: 25px;
}

#exp-mid-left {
    background-color: #00000075;
    border-radius: 25px;
}

#exp-mid-right {
    background-color: #00000075;
    border-radius: 25px;
}

#exp-bottom {
    background-color: #00000075;
    border-radius: 25px;
}

/* set the contact div in the center horizontally + size */

#contact-text {
    color: white;
    font-size: large;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 130px;
    padding-top: 7%;
}

/* Make contact icons in a row */
#contact-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

}

#contact-text a {
    font-size: xx-large;
}

/* Contact form styling */
.form-container {
    width: 50%;
    margin: auto;
}

form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    background-color: #00000075;
    border-radius: 25px;
    box-shadow:
        35px 0px 35px 0px #131615;
    border: 1px solid #563c5c;
}
form input {
    background-color: #563c5c75;
    border: 1px solid #563c5c;
    color: white;
    text-align: center;
    border-radius: 25px;
}

form label {
    color: white;
}
#subject {
    height: 170px;
}
#submit-button {
    width: 100px;
    height: 35px;
    margin: auto;
}
/* Footer styling */
#footer {
    background-color: black;
    background-image: repeating-linear-gradient(233deg, #1c2751, #1c2751 1px, transparent -19px, transparent 2px);
    background-size: 10px;
    color: white;
    width: 100%;
    position: relative;
    bottom: 0px;
    height: 65px;
    overflow: hidden;
    z-index: 999;
}

#social-media {
    display: table;
    width: 30%;
    height: 40px;
    line-height: 40px;
}

#social-media li {
    display: table-cell;
    padding-left: 2px;
    padding-right: 2px;

}

/* SoMe icon size */
.some-icon {
    font-size: x-large;
}

#cv {
    font-size: small;
}

/* Media Query: large or landscape phones 576px and up */
@media screen and (max-width: 768px) {}