body {
    background-color: #d4fafa;
    font-family: 'Special Elite', cursive;

}

/* Setting background color and box shadow for main content */
.main-content {
    background-color: #afd5f0;
    margin: 35px;
    position: relative;
    box-shadow:
        0px 0px 17px 0px #131615
}

/* Make nav-bar higher and the list horizontal */
nav {
    background-color: #3d426b;
    height: 50px;
}

#menu {
    display: table;
    width: 100%;
    line-height: 50px;
    

}

#menu li {
    display: table-cell;
    

}

#menu a {
    color: white;
    font-size: 110%;
}
/* Main content */
#content {
    height: 450px;
    width: 100%;
}
/* Footer styling */
#footer {
    background-color: #3d426b;
    color: white;
    width: 100%;
}
#social-media {
    display: table;
    width: 100%;
    height: 50px;
    line-height: 50px;
}
#social-media li {
    display: table-cell;
    padding-left: 55px;
    padding-right: 55px;

}
/* SoMe icon size */
.some-icon {
    font-size: x-large;
}